<ion-item-sliding>
  <ion-item
    [routerLink]="childCount > 0 ? ['/list/', task.taskId] : null"
    [routerDirection]="childCount > 0 ? 'forward' : null"
    [detail]="childCount > 0"
  >
    <ion-checkbox
      [checked]="task.isDone"
      [indeterminate]="childCount > 0 || task.isDone"
      [class]="childCount > 0 ? 'readonly' : ''"
      [color]="childCount > 0 ? 'medium' : 'primary'"
      (ionChange)="checkedChanged($event)"
    ></ion-checkbox>

    <ion-label padding-start>{{ task.title }}</ion-label>
    <!-- <ion-icon [name]="task.priority == 0 ? 'arrow-down-circle' : 'arrow-up-circle'" [class]="'priority-' + task.priority" *ngIf="!(childCount > 0) && task.priority != 1"></ion-icon> -->
    <ion-badge class="right-badge" color="light" *ngIf="!(childCount > 0) && task.duration">{{
      getTimeText()
    }}</ion-badge>
    <ion-badge class="last-badge" color="primary" *ngIf="!(childCount > 0)">{{ getDateText() }}</ion-badge>
    <ion-badge *ngIf="childCount > 0">{{ childCount }}</ion-badge>
  </ion-item>

  <ion-item-options side="start">
    <ion-item-option color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
  <ion-item-options side="end">
    <ion-item-option
      [hidden]="childCount > 0"
      [routerLink]="['/input/', task.taskId]"
      routerDirection="forward"
      slot="icon-only"
    >
      <ion-icon name="create"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
