<ion-item no-padding lines="full">
  <ion-icon [name]="icon" slot="start"></ion-icon>

  <ion-datetime
    [placeholder]="placeholder"
    class="leftAlign"
    displayFormat="DD.MM.YYYY HH:mm"
    no-padding
    [value]="time"
    [pickerOptions]="pickerOptions"
    [min]="getMin()"
    [max]="getMax()"
  ></ion-datetime>

  <!--
    -------------------------- wenn nicht null --------------------------
    Hidden statt ngIf, da das element ansonsten aus dem DOM entfernt wird
    und beim hinzufügen eines Zeitwertes unter dem DatetimePicker liegt
    -> Button könnte nichtmehr geklickt werden
  -->
  <ion-button [hidden]="!time" item-right clear (click)="remove()" slot="end">
    <ion-icon name="close" size="small"></ion-icon>
  </ion-button>
</ion-item>
