<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" [text]="'Zurück'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{task.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-task-list [tId]="tId"></app-task-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/input/', 0, tId]" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Footer mit Sortierung, etc. wie auf Hauptseite möglich, ist aber nicht gefordert-->
