<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" [text]="'Back'"></ion-back-button>
    </ion-buttons>
    <ion-title>Eingabe</ion-title>
    <!-- gruppe (label) evtl. als Chip -->
    <ion-buttons slot="end">
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    ><ion-input
      placeholder="Titel"
      class="input-large"
      value="{{tId}}"
    ></ion-input>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Zeitangaben</ion-label>
      <ion-toggle slot="end">View</ion-toggle>
    </ion-item>

    <ion-card-content>
      <ion-item no-padding lines="none">
        <ion-icon name="hourglass" slot="start"></ion-icon>
        <ion-label>Dauer</ion-label>
        <!-- duration?: nummer + einheit (Stunden, Tage, w, m, j); -->
      </ion-item>

      <ion-item no-padding lines="none">
        <ion-icon name="golf" slot="start"></ion-icon>
        <ion-datetime
          class="leftAlign"
          no-padding
          displayFormat="DD.MM.YYYY"
          min="2005"
          max="2016"
          value="2008-09-02"
        ></ion-datetime>

        <ion-datetime
          slot="end"
          displayFormat="HH:mm"
          value="12:00"
        ></ion-datetime>
      </ion-item>

      <ion-item no-padding lines="none">
        <ion-icon name="play" slot="start"></ion-icon>
        <ion-datetime
          class="leftAlign"
          no-padding
          displayFormat="DD.MM.YYYY"
          min="2005"
          max="2016"
          value="2008-09-02"
        ></ion-datetime>

        <ion-datetime
          slot="end"
          displayFormat="HH:mm"
          value="12:00"
        ></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Erinnerungen</ion-label>
    </ion-item>
    <ion-card-content>
      <app-reminder
        *ngFor="let r of reminderList"
        [time]="r.time?.toISOString()"
        (update)="updateReminder($event, r)"
      ></app-reminder>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Zusatzinformationen</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-item no-padding lines="full">
        <ion-icon name="alert-circle" slot="start"></ion-icon>
        <ion-segment mode="ios" value="medium">
          <ion-segment-button value="low" layout="icon-bottom">
            <ion-icon name="arrow-down-circle"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="medium" layout="icon-bottom">
            <ion-icon name="ellipse-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="high" layout="icon-top">
            <ion-icon name="arrow-up-circle"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-item no-padding lines="full">
        <ion-icon name="reader" slot="start"></ion-icon>
        <ion-textarea
          auto-grow="true"
          rows="1"
          placeholder="Hier Infos eingeben"
        ></ion-textarea>
      </ion-item>

      <ion-item no-padding lines="none">
        <ion-icon name="shield" slot="start"></ion-icon>
        <ion-label>Ist Blocker</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Funktionen</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-button expand="block">Split</ion-button>
      <ion-button expand="block">IsDone</ion-button>
      <ion-button expand="block">Change Group</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- 
Datenmodell anpassen
-> Gruppe nicht extra sondern string an task
-> wenn man selbst nix hat, aber parent, dann ist parent gruppe (name von parent oder gruppenname)
termine ohne datum reorderbar? 



todo ionic 5: Padding left bei Android liste, ios titel-input und beiden time-dropdowns 

vlt grid?
 -->
</ion-content>
