<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" [text]="'Back'"></ion-back-button>
    </ion-buttons>
    <ion-title>Eingabe</ion-title>
    <!-- gruppe (label) evtl. als Chip -->
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="saveAndClose()" [class.button-disabled]="!task.title">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    ><ion-input placeholder="Titel" class="input-large" [(ngModel)]="task.title"></ion-input>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Zeitangaben</ion-label>
    </ion-item>

    <ion-card-content>
      <app-duration ngDefaultControl [(minuteDuration)]="task.duration"></app-duration>

      <app-datetime
        [min]="task.startTime"
        [time]="task.deadLineTime"
        placeholder="Deadline"
        [pickerOptions]="getDeadlinePickerOptions()"
        icon="golf"
      ></app-datetime>

      <app-datetime
        [max]="task.deadLineTime"
        [time]="task.startTime"
        placeholder="Start"
        [pickerOptions]="getStartdatePickerOptions()"
        icon="play"
      ></app-datetime>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Erinnerungen</ion-label>
    </ion-item>
    <ion-card-content>
      <app-datetime
        *ngFor="let r of reminderList"
        icon="alarm"
        [time]="r.reminderTime"
        [pickerOptions]="getReminderPickerOptions(r)"
        placeholder="Add..."
      ></app-datetime>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Zusatzinformationen</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-item no-padding lines="full">
        <ion-icon name="alert-circle" slot="start"></ion-icon>
        <ion-segment mode="ios" [(ngModel)]="task.priority">
          <ion-segment-button value="0" layout="icon-bottom">
            <ion-icon name="arrow-down-circle"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="1" layout="icon-bottom">
            <ion-icon name="ellipse-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="2" layout="icon-top">
            <ion-icon name="arrow-up-circle"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-item no-padding lines="full">
        <ion-icon name="reader" slot="start"></ion-icon>
        <ion-textarea
          [(ngModel)]="task.description"
          auto-grow="true"
          rows="1"
          placeholder="Hier Infos eingeben"
        ></ion-textarea>
      </ion-item>

      <ion-item no-padding lines="none">
        <ion-icon name="shield" slot="start"></ion-icon>
        <ion-label>Ist Blocker</ion-label>
        <ion-toggle [(ngModel)]="task.isBlocker"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Funktionen</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-button expand="block" (click)="split()">Aufteilen</ion-button>
      <ion-button expand="block" (click)="setIsDone()">Als erledigt markieren</ion-button>
      <ion-button expand="block" (click)="findStarttime()">Automatischen Startzeitpunkt bestimmen</ion-button>
      <ion-button expand="block" (click)="createChild()" [disabled]="!task.taskId"
        >Unteraufgabe hinzufügen</ion-button
      >

      <ion-item>
        <ion-label>Gruppe: </ion-label>
        <ion-select [(ngModel)]="task.parentId" okText="Ändern" cancelText="Abbrechen" default>
          <ion-select-option *ngFor="let p of potentialParents" [value]="p.taskId"
            >{{p.title}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
