<ion-item no-padding lines="full">
  <ion-icon name="alarm" slot="start"></ion-icon>

  <ion-datetime
    placeholder="hinzufügen..."
    class="leftAlign"
    displayFormat="DD.MM.YYYY hh:mm"
    no-padding
    [(ngModel)]="time"
    (ionChange)="dateChanged()"
  ></ion-datetime>

  <!--
    -------------------------- wenn nicht null --------------------------
    Hidden statt ngIf, da das element ansonsten aus dem DOM entfernt wird
    und beim hinzufügen eines Zeitwertes unter dem DatetimePicker liegt
    -> Button könnte nichtmehr geklickt werden
  -->
  <ion-button
    [hidden]="!time"
    item-right
    clear
    (click)="remove($event)"
    slot="end"
  >
    <ion-icon name="close" size="small"></ion-icon>
  </ion-button>
</ion-item>
