<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Suchen..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-task-list></app-task-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" edge>
    <ion-fab-button [routerLink]="['/input/', 0, 0]" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar></ion-toolbar>
</ion-footer>
<!--
- ion-toolbar (head & foot incl. Buttons)
- ion-modal (abgehakte elemente) durch wischen von unten
-->
