<ion-header>
  <ion-toolbar><ion-title>{{getDisplaymodeText()}}</ion-title></ion-toolbar></ion-header
>
<ion-content>
  <app-task-list tId="0"></app-task-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" edge>
    <ion-fab-button [routerLink]="['/input/', 0, 0]" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showSortPicker()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-segment value="undone" (ionChange)="displaymodeChanged($event)">
      <ion-segment-button value="undone">
        Offen
      </ion-segment-button>
      <ion-segment-button value="done">
        Erledigt
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button disabled>
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
